@import "../styles/variables.scss";
@import "../styles/base.scss";

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 100;
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: repeat(2, auto);
  padding: 0 5vw;
  background: $fr-clr;
  box-shadow: 2px 2px 20px rgba(black, 0.3);

  .links {
    grid-column: 2/3;
    grid-row: 0/1;
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .link {
      position: relative;
      text-transform: uppercase;
      padding: 0.7rem;
      cursor: pointer;
      color: $fr-text;
      text-decoration: none;
      transform: background-color ease-in 0.3s;
      margin: 0 0.2rem;

      &.active {
        color: $orange-text;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 3px;
        transform: scale(0);
        background-color: $orange-text;
        transition: transform 0.2s ease-in;
      }
      &:hover::after {
        transform: scale(1);
      }
      &.sign__up {
        background-color: $orange-text;
        border-radius: 3px;
        color: $se-text;
        white-space: nowrap;
        &:hover {
          box-shadow: inset 6px 6px 10px rgb(224, 204, 22),
            inset -6px -6px 10px rgb(224, 204, 22);
        }
      }
    }
  }
  .logo__cont {
    grid-column: 1/2;
    grid-row: 0/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
      &:hover {
        color: $orange-text;
        cursor: pointer;
      }
    }
  }
  .hamburger {
    position: absolute;
    top: 50%;
    right: 5vw;
    width: 50px;
    height: 50px;
    z-index: 100;
    background: $th-clr;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba($fr-clr, 0.5);
    overflow: hidden;
    transform: translateY(-50%);
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      width: calc(100% - 14px);
      height: 3px;
      background: $fr-clr;
      box-shadow: 0 -12px 0 $fr-clr, 0 12px 0 $fr-clr;
      transition-property: transform, box-shadow;
      transition-delay: 0s, 1s;
      transition-duration: 0.5s, 0.5s;

      &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3px;
        height: 36px;
        background: $fr-clr;
        transition: 0.5s;
        transition-delay: 0.5s;
      }
    }

    &.active div {
      box-shadow: 50px -12px 0 $fr-clr, -50px 12px 0 $fr-clr;
      transform: translate(-50%, -50%) rotate(-315deg);
      transition-property: box-shadow, transform;
      transition-delay: 0s, 0.5s;
      transition-duration: 0.5s, 0.5s;

      &::before {
        top: 50%;
        transition-delay: 1s;
      }
    }
  }
}

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  overflow: hidden;
  visibility: hidden;

  .active {
    visibility: visible;
  }

  .left_header {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 38%, 0 53%);
    clip-path: polygon(0 0, 100% 0, 100% 38%, 0 53%);
    background-image: linear-gradient(
        to right,
        rgba($fr-clr, 0.6),
        rgba($fr-clr, 0.6)
      ),
      url("../images/ffff.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

    transition: 0.5s ease-out;
    padding: 2em;

    &.active {
      transform: translate3d(0, 0, 0);
    }
  }

  .right_header {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-clip-path: polygon(0 53%, 100% 41%, 100% 100%, 0 100%);
    clip-path: polygon(0 53%, 100% 38%, 100% 100%, 0 100%);
    background: rgba($se-clr, 0.9);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s ease-out;
    // padding: 3em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // padding: 0 15vw 15vh 0;
    nav {
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    a {
      all: unset;
      text-decoration: none;
      font-size: 2em;
      color: $fr-text;
      margin-bottom: 1rem;

      &.active {
        color: $orange-text;
      }

      &:hover {
        color: $orange-text;
      }
    }

    .second__nav {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 20%;
      z-index: -1;
      text-align: right;
      color: rgba(211, 211, 211, 0.2);
      font-size: 5rem;
      transition: 2s ease-in-out;
    }

    &.active {
      transform: translate3d(0, 0, 0);
    }
  }
}

@media (max-width: 850px) {
  .header__menu {
    .links {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
}

@media (min-width: 851px) {
  .hamburger {
    display: none;
  }
}
